<center>
  <span id = "post-name"><%= @post.name %></span>
  <%= link_to "Edit", edit_post_path(@post) if user_signed_in? && current_user.admin? %>
  <%= link_to 'Delete', post_path(@post), confirm: 'Are you sure?', method: :delete  if user_signed_in? && current_user.admin? %>
</center>
<table class="table table-bordered" id="dataTable">
  <tr><td rowspan=3 id="tableImage"><%= image_tag @post.image.url %></td>
    <td>Year</td><td><%= @post.year %></td>
    <td rowspan=3><%= @post.review %></td></tr>
    <tr><td>Author</td><td>To be filled</td></tr>
    <tr><td>ISBN</td><td>To be filled</td></tr>
  </tr>
</table>
<%= link_to like_post_path(@post), method: :put do %>
<button type="button" class="btn btn-info">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <span class="badge"><%=@post.get_upvotes.size %></span>
</button>
<% end %>
<%= link_to "View Favourites", users_favourites_path %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <b><%= comment.username %></b>
  <%= comment.name %>
  <% if user_signed_in? %>
    <% if current_user.email == comment.username || current_user.admin? %>
      <%= link_to 'Delete', [comment.post, comment],
      confirm: 'Are you sure?',
      method: :delete %>
    <% end %>
  <% end %>
  <% comment.replies.each do |reply| %>
    <p style = "text-indent: 3em">
    <b><%= reply.author %> </b>
    <%= reply.content %>
    <% if user_signed_in? %>
      <% if current_user.email == reply.author || current_user.admin? %>
        <%= link_to 'Delete', reply_path(reply),
        confirm: 'Are you sure?',
        method: :delete %>
      <% end %>
    <% else %>
      <br/><strong style="color:red;">Sign in to leave a reply or comment</strong>
    <% end %>
  <% end %>
  
  <% if user_signed_in? %>
    <%= form_for :reply, url: replies_path do |f| %>
      <%= f.hidden_field :comment_id, value: comment.id %>
      <%= f.text_field :content %>
      <%= f.submit "Reply" %>
    <% end %>
  <% end %>
<% end %>
<hr/>

<% if user_signed_in? %>
  <h3>Add a comment:</h3>
  <%= form_for([@post, @post.comments.build]) do |f| %>
  <%= f.label :comment %><br />
  <%= f.text_area :name %>
  <%= f.submit %>
  <% end %>
<% end %>
